<div class="container" id="main-container">
    <div id="breadcrumbs" class="breadcrumbs hidden-md-down">
        <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span class="linked-crumb" itemprop="title">Home</span></a></span><span class="crumb-separator">&gt;</span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child"><a href="/artists/" itemprop="url"><span class="linked-crumb" itemprop="title">Artists</span></a></span><span class="crumb-separator">&gt;</span><span class="no-link-crumb">
            Beyonce
        </span><span class="pull-right data-control"></span>
    </div><div class="above-content-ad"></div><div class="artist-page">
        <div class="row mobile-page-background hidden-lg-up">
            <div class="js-live-widget2 css-widget css-live-widget_getSimpleGallery mobile-css-live-widget_getSimpleGallery" data-layout="default" data-loadonclick="0" data-bp="mobile" data-lazy="0" data-jsonly="0" data-token="bd5a7915188b26e25a05497a882c1feb" data-ajax="1" data-cache="8b3eb346ee7c9f0b5814bfd65cb62e33" data-key="getSimpleGallery" data-url="/widget2/getSimpleGallery?params=%7B%22key%22%3A%22getSimpleGallery%22%2C%22bp%22%3A%22mobile%22%2C%22follow%22%3A%7B%22counter%22%3A474%2C%22tag%22%3A%7B%22type%22%3A%22tag%22%2C%22data%22%3A%7B%22uid%22%3A0%2C%22type%22%3A%22tag%22%2C%22title%22%3A%22Beyonc%5Cu00e9%22%2C%22title_whole%22%3A%22Beyonc%5Cu00e9%22%2C%22cache%22%3Anull%2C%22filters4%22%3A%5B%5D%2C%22url%22%3A%5B%22beyonce%22%2C%22beyonc%22%5D%2C%22disabled%22%3Afalse%2C%22deleted%22%3Anull%2C%22created%22%3A1425715129%2C%22created_date%22%3A%222015-03-07+02%3A58%3A49%22%2C%22updated%22%3A1550358669%2C%22updated_date%22%3A%222019-02-16+18%3A11%3A09%22%2C%22alt_title%22%3A%22%22%2C%22dictionary%22%3A%223%22%2C%22absolute_url%22%3Anull%2C%22id%22%3A%2240%22%7D%2C%22field_cache%22%3A%5B%5D%7D%7D%2C%22eid%22%3A490%2C%22etype%22%3A%22artist%22%2C%22updated%22%3A1502929535%7D&amp;bp=mobile&amp;desktop=1"></div><div class="social-infoBox-placeholder">
                <div class="social-infoBox-container  hidden-lg-up  js-social-box-pos">
                    <div class="mobile-share-btn"><div class="inline-icons-wrapper"><a id="facebook-link" class="social-share-btn facebook-btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F" target="_blank"><i class="fa fa-facebook facebook-custom"></i></a><a id="twitter-link" class="social-share-btn twitter-btn" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F&amp;via=HotNewHipHop&amp;text=Beyonce" target="_blank"><i class="fa fa-twitter twitter-custom"></i></a><a href="http://reddit.com/submit?url=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F&amp;title=Beyonce" class="social-share-btn reddit-btn"><i class="fa fa-reddit-alien"></i></a><a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F" class="social-share-btn gplus-btn"><i class="fa fa-google-plus"></i></a></div></div><div class="js-rate-up-down rate-up-down-widget flex-child field-processed--js-rate-up-down---js-rate-user-rating" data-container="" data-disabled="" data-handler="rateUpDown" data-etype="artist" data-eid="490" data-field_name="rate_up_down" data-token="0ced33b7fdd6d2e18e961aa9fcffe097">
                        <meta itemprop="interactionCount" content="UserLikes:58"><div class="rate-up-down-block rating-buttons-block mobile-rate-buttons" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                            <span class="rating-button ups " data-vote="1">
                                <i class="icon-thumbs-up"></i>&nbsp;
                                <em class="upsNumber">58</em>
                            </span><span class="rating-button downs" data-vote="0">
                                <i class="icon-thumbs-down"></i>&nbsp;
                                <em class="downsNumber">6</em>
                            </span><meta itemprop="ratingValue" content="4.53125"><meta itemprop="ratingCount" content="64"><meta itemprop="bestRating" content="5"><meta itemprop="worstRating" content="0">
                        </div>
                    </div><div class="flex-child">
                        <meta itemprop="interactionCount" content="UserComments:0"><div class="comments-link js-comments-link field-processed--js-comments-link">
                            <i class="icon icon-comment"></i>&nbsp;
                            <span itemprop="commentCount">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="row">
            <div class="col-hnhh-left no-padding-mobile">
                <article itemscope="" itemtype="http://schema.org/WebPage" class="p-l-0 m-l-0 hidden-md-down"><meta itemprop="url" content="https://www.hotnewhiphop.com/Beyonce/profile/"><meta itemprop="image" content="https://ssl.ulximg.com/image/src/artist/1260292100_f719c4c7a3a3dfd34fe629da408febe5.jpg/e9ae1ec3086e5f68fb2efecbd556ece4/1260292100_beyonce.jpg"><div class="artist-top-block artist"><div class="artist-top-leftBlock"><h1 class="nd-main-headers artist-page-header" itemprop="name">Beyonce</h1></div></div><div class="artist-tab-block"></div></article><div class="js-trigger-content-sticky-header clear"></div><div class="artist-paginator pull-left w100per">
                    <div class="pull-left tab-item tab-active">
                        <a href="/Beyonce/profile/" class="active">
                            Profile
                        </a>
                    </div><div class="pull-left tab-item ">
                        <a href="/Beyonce/news/" class="">
                            News
                        </a>
                    </div><div class="pull-left tab-item ">
                        <a href="/Beyonce/songs/" class="">
                            Songs
                        </a>
                    </div><div class="pull-left tab-item ">
                        <a href="/Beyonce/mixtapes/" class="">
                            Mixtapes
                        </a>
                    </div><div class="pull-left tab-item ">
                        <a href="/Beyonce/videos/" class="">
                            Videos
                        </a>
                    </div>
                </div><div class="artist-page-socials-block pull-right w100per hidden-md-down"><div class="userPageVisit-block"><i class="icon-eye-open"></i><meta itemprop="interactionCount" content="UserPageVisits:92,909"><span>92,909 Views</span></div><div class="artist-rate-up-down"><div class="js-rate-up-down rate-up-down-widget flex-child field-processed--js-rate-up-down---js-rate-user-rating" data-container="in-artist-page" data-disabled="" data-handler="rateUpDown" data-etype="artist" data-eid="490" data-field_name="rate_up_down" data-token="0ced33b7fdd6d2e18e961aa9fcffe097"><meta itemprop="interactionCount" content="UserLikes:58"><div class="rate-up-down-block rating-buttons-block mobile-rate-buttons" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><span class="rating-button ups " data-vote="1"><em class="upsNumber">58</em><i class="custom-icon-thumbs-up-border"></i></span><span class="rating-button downs" data-vote="0"><i class="custom-icon-thumbs-down-border"></i><em class="downsNumber">6</em></span><meta itemprop="ratingValue" content="4.53125"><meta itemprop="ratingCount" content="64"><meta itemprop="bestRating" content="5"><meta itemprop="worstRating" content="0"></div></div></div><div class="artist-page js-tag-follow follow-btn pull-left follow-no field-processed--js-tag-follow" data-eid="40" data-etype="tag" data-token="35287322bd26b2b4f95eaaefbeb1982a" data-following="0"><button class="btn btn-danger btn-mini pull-left follow-button js-follow-button"><span class="js-follow-button-text">Follow</span></button><div class="pull-left follow-bubble"><meta itemprop="interactionCount" content="UserCheckins:474"><span class="followers js-follow-counter">474</span><div class="tail pull-left"><i class="pull-left"></i><b class="pull-left"></b></div></div></div><div class="social-top-block js-socialButtons pull-right field-processed--js-socialButtons"><div class="social-icons-wrapper"><a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F" class="facebook-wrapper"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/share?url=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F&amp;text=Beyonce&amp;via=HotNewHipHop" class="twitter-wrapper"><i class="fa fa-twitter"></i></a><a href="http://reddit.com/submit?url=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F&amp;title=Beyonce" class="reddit-wrapper"><i class="fa fa-reddit-alien"></i></a><a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.hotnewhiphop.com%2FBeyonce%2Fprofile%2F" class="google-plus-wrapper"><i class="fa fa-google-plus"></i></a></div></div></div><div class="row artist-cover-row"><div class="col-lg-6 hidden-md-down pull-left"><div class="js-live-widget2 css-widget css-live-widget_getSimpleGallery desktop-css-live-widget_getSimpleGallery field-processed--js-live-widget2" data-layout="default" data-loadonclick="0" data-bp="desktop" data-lazy="0" data-jsonly="0" data-token="2d56ffbeb5563d0929cf43f20a0d935e" data-ajax="0" data-cache="bc62d3739713c5cd572c7df3e0f1242c" data-key="getSimpleGallery" data-url="/widget2/getSimpleGallery?params=%7B%22eid%22%3A490%2C%22bp%22%3A%22desktop%22%2C%22etype%22%3A%22artist%22%2C%22updated%22%3A1502929535%2C%22key%22%3A%22getSimpleGallery%22%2C%22dimensions%22%3A%22405x405%22%2C%22dimensions_full%22%3A%22full%22%2C%22dimensions_thumb%22%3A%2244x29%22%7D&amp;bp=desktop&amp;desktop=1"><div class="js-widget-wrapper css-widget-wrapper widget2--getSimpleGallery"><div class="simplePix-container js-simplePix2 field-processed--js-simplePix2" data-canvas="fadeOverCanvas"><div class="simplePix-slide js-simplePix-slide  active" data-id="89" data-uri="https://ssla.ulximg.com/image/full/artist/1260292100_f719c4c7a3a3dfd34fe629da408febe5.jpg/206dfd664b535faee9c67b06c777e487/1260292100_beyonce.jpg"><img src="https://sslb.ulximg.com/image/405x405/artist/1260292100_f719c4c7a3a3dfd34fe629da408febe5.jpg/83ec2212c55627b06b94b63d546b39fb/1260292100_beyonce.jpg" width="405" height="405" srcset="https://sslc.ulximg.com/image/500x500crop/artist/1260292100_f719c4c7a3a3dfd34fe629da408febe5.jpg/4995e4659d407a7c69ccaba2a06f81be/1260292100_beyonce.jpg 2x" alt="Cover"><img class="simplePix-slide-naturalDimensions js-simplePix-dimensions" src="https://ssld.ulximg.com/image/75x75/artist/1260292100_f719c4c7a3a3dfd34fe629da408febe5.jpg/f0eed7d8ec90e72367c30046f9e755aa/1260292100_beyonce.jpg" alt="Cover"></div><div class="simplePix-next js-simplePix-next"><i class="fa fa-chevron-right"></i></div><div class="simplePix-prev js-simplePix-prev"><i class="fa fa-chevron-left"></i></div><div class="simplePix-zoom js-simplePix-zoom"><i class="icon-zoom-in"></i></div></div></div></div></div><div class="col-xs-12 col-lg-6 pull-left no-padding-mobile"><div class="artist-gallery"><div class="artist-infoTable-wrapper"><div class="artist-infoTable"><table class="info-table"><tbody><tr><th>Given Name</th><td><span>Beyoncé Giselle Knowles</span></td></tr><tr><th>Aliases</th><td><span>Bey, Yonce, etc.</span></td></tr><tr><th>Date of Birth</th><td><span>Sep 04, 1981 - Age 37</span></td></tr><tr><th>Hometown</th><td><span>Houston, Texas</span></td></tr><tr><th>Label</th><td><span>Columbia</span></td></tr><tr><th>Ad-Lib</th><td><span>N/A</span></td></tr><tr><th>Social</th><td><a href="https://twitter.com/Beyonce" rel="nofollow" target="_blank" title="twitter"><i class="small-img small-img-twitter"></i></a><a href="https://www.facebook.com/beyonce" rel="nofollow" target="_blank" title="facebook"><i class="small-img small-img-facebook"></i></a></td></tr></tbody></table></div></div></div></div></div><div class="artist-bio-wrapper">
                    <div class="artist-header bio-header">
                        <h2 class="nd-main-headers artist-header-text home-red-header">
                            About Beyonce
                        </h2>
                    </div><div class="artist-bio artistBio-block" itemprop="description">
                        <p class="pull-left item-description w100per" data-bind="ht-content">
                            Beyonce needs no introduction. She is without doubt one of the most celebrated and influential R&amp;B artists of all time, both locally and internationally – not to mention she and husband Jay Z topped Forbes’ high-earning celebrity couples list in 2013. The 17-time GRAMMY award winner has sold more than 180 million records worldwide, and has received pretty much every notable music award there is. Since her beginnings with Destiny’s Child (who are among the highest-selling girl groups ever), the Houston, Texas native has worked with Amil, Usher, Lil Wayne, Alicia Keys, Lady Gaga, Kanye West, Big Sean, Charlie Wilson, Chimamanda Ngozi Adichie, Andre 3000, Justin Timberlake, Shakira, Alejandro Fernandez, Slim Thug, Luther Vandross, Diddy, Sean Paul, MC Lyte, Free and many more throughout her 16-year career. Most recently, she dropped a platinum-selling, self-titled visual album, wrote an essay on the myth of gender equality, rented out an amusement park for her daughter Blue Ivy’s second birthday and announced a performance with Hov at the 56th Annual GRAMMY Awards. Stay tuned.
                        </p>
                    </div>
                </div><div class="artist-facts-wrapper">
                    <div class="artist-header artistFacts-header">
                        <h2 class="nd-main-headers artist-header-text home-red-header">
                            Facts Only
                        </h2>
                    </div><div class="artist-facts artistFacts-listBlock"><ul class="artist-facts-ul artistFacts-listBlock-ul" data-bind="ht-content"><div class="artist-facts-line-wrapper"><li class="artist-fact-left artistFacts-listBlock-item"><div class="artist-facts-content">Throughout her youth, Beyoncé attended Texas' St. Mary's Elementary School, Parker Elementary School, The High School For The Performing And Visual Arts And Alief Elsik High School. </div></li><li class="artist-fact-right artistFacts-listBlock-item"><div class="artist-facts-content">Beyonce is of African, French and Native American descent.</div></li></div><div class="artist-facts-line-wrapper"><li class="artist-fact-left artistFacts-listBlock-item"><div class="artist-facts-content">She is a direct descendant of Acadian leader Joseph Broussard.</div></li><li class="artist-fact-right artistFacts-listBlock-item"><div class="artist-facts-content">Beyonce is a staunch and vocal feminist. </div></li></div><div class="artist-facts-line-wrapper"><li class="artist-fact-left artistFacts-listBlock-item"><div class="artist-facts-content">Her younger sister Solange is an emerging songstress and actress. </div></li></div></ul></div>
                </div><div class="row">
                    <div class="col-xs-12 col-lg-6 no-padding-mobile">
                        <div class="js-artist-block-wrapper artist-block-wrapper field-processed--js-artist-block-wrapper">
                            <div class="artist-collapse-header hidden-lg-up"><div class="artistCollapse-leftTrigger js-artist-block-arrow"><h2 class="artistCollapse-title">Top Songs</h2><div class="artistCollapse-arrow"><i class="icon icon-caret-down"></i><i class="icon icon-caret-up"></i></div></div><div class="artistCollapse-rightTrigger"><a href="/Beyonce/songs/" class="artistCollapse-archive">All Songs</a></div></div><div class="artist-header hidden-md-down">
                                <h2 class="nd-main-headers artist-header-text">
                                    Top Songs
                                </h2>
                            </div><div class="drop-down-wrapper-block js-artist-block-content">
                                <ul class="dropDown-listBlock">
                                    <article class="panel-unit panelTopSongs-wrapper">
                                        <a class="panel-unit-anchor" href="/beyonce-flawless-feat-nicki-minaj-remix-new-song.1949950.html">
                                            <img class="panel-top-songs-img" src="https://ssle.ulximg.com/image/58x58/cover/1407039829_74c58edecd650400ae9831ba4120606c.jpg/fef74459a291c3e0fa2d89dc947a50d3/1407039829_jpeg_78.jpg" width="58" height="58" alt="Flawless (Remix)" title="Flawless (Remix)"><div class="panel-unit-body">
                                                <div class="cover-title topSongs-item-title">
                                                    Flawless (Remix)
                                                </div><div class="panel-body-artist"><em class="artistStrong">Beyoncé</em><em class="feature"> Feat. </em><em class="feature">Nicki Minaj</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-stats hidden-md-down"><span title="Views">574K Views</span><span title="Comments">204 Comments</span></div>
                                            </div>
                                        </a>
                                    </article>
                                    <article class="panel-unit panelTopSongs-wrapper">
                                        <a class="panel-unit-anchor" href="/drake-can-i-feat-beyonce-new-song.1966576.html">
                                            <img class="panel-top-songs-img" src="https://sslf.ulximg.com/image/58x58/cover/1443915429_d8306efcba16f9300a7508a6bd4127f1.jpg/e2b148e9be37c7cfd37416aab6473c04/1443915429_b5ff75cf554dbcc574551102f750396d.jpg" width="58" height="58" alt="Can I" title="Can I"><div class="panel-unit-body">
                                                <div class="cover-title topSongs-item-title">
                                                    Can I
                                                </div><div class="panel-body-artist"><em class="artistStrong">Drake</em><em class="feature"> Feat. </em><em class="feature">Beyoncé</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-stats hidden-md-down"><span title="Views">551K Views</span><span title="Comments">323 Comments</span></div>
                                            </div>
                                        </a>
                                    </article>
                                    <article class="panel-unit panelTopSongs-wrapper">
                                        <a class="panel-unit-anchor" href="/beyonce-drunk-in-love-feat-kanye-west-jay-z-remix-new-song.1822616.html">
                                            <img class="panel-top-songs-img" src="https://sslg.ulximg.com/image/58x58/cover/1392426097_b41332aaac7508e4b0e8aaa5ae86725a.jpg/2c59ea0e91fc29ed69224196f1fb06d6/1392426097_kanyewest_34.jpeg" width="58" height="58" alt="Drunk In Love (Remix)" title="Drunk In Love (Remix)"><div class="panel-unit-body">
                                                <div class="cover-title topSongs-item-title">
                                                    Drunk In Love (Remix)
                                                </div><div class="panel-body-artist"><em class="artistStrong">Beyoncé</em><em class="feature"> Feat. </em><em class="feature">Kanye West</em><em>&nbsp;&amp; </em><em class="feature">Jay Z</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-stats hidden-md-down"><span title="Views">513K Views</span><span title="Comments">243 Comments</span></div>
                                            </div>
                                        </a>
                                    </article>
                                    <article class="panel-unit panelTopSongs-wrapper">
                                        <a class="panel-unit-anchor" href="/the-weeknd-drunk-in-love-remix-new-song.1823825.html">
                                            <img class="panel-top-songs-img" src="https://sslh.ulximg.com/image/58x58/cover/1392560460_854739d90747d7a10424fa186a250696.jpg/bdac699ad764513c528ed68f4dec9b51/1392560460_weeknd_26.jpg" width="58" height="58" alt="Drunk In Love (Remix)" title="Drunk In Love (Remix)"><div class="panel-unit-body">
                                                <div class="cover-title topSongs-item-title">
                                                    Drunk In Love (Remix)
                                                </div><div class="panel-body-artist"><em class="artistStrong">The Weeknd</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-stats hidden-md-down"><span title="Views">436K Views</span><span title="Comments">188 Comments</span></div>
                                            </div>
                                        </a>
                                    </article>
                                    <article class="panel-unit panelTopSongs-wrapper">
                                        <a class="panel-unit-anchor" href="/beyonce-part-ii-on-the-run-solo-version-new-song.1465935.html">
                                            <img class="panel-top-songs-img" src="https://ssli.ulximg.com/image/58x58/cover/1373220331_df513d660c4b23a3634af5bd6bd0d810.jpg/2eef7dbb594c878becbe571d8333110a/1373220331_ed60ec78cc6b4a141cb2afd068070e11.jpg" width="58" height="58" alt="Part II (On The Run) [Solo Version]" title="Part II (On The Run) [Solo Version]"><div class="panel-unit-body">
                                                <div class="cover-title topSongs-item-title">
                                                    Part II (On The Run) [Solo Version]
                                                </div><div class="panel-body-artist"><em class="artistStrong">Beyoncé</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-stats hidden-md-down"><span title="Views">425K Views</span><span title="Comments">23 Comments</span></div>
                                            </div>
                                        </a>
                                    </article>
                                    <article class="panel-unit panelTopSongs-wrapper">
                                        <a class="panel-unit-anchor" href="/beyonc-freedom-feat-kendrick-lamar-new-song.1969523.html">
                                            <img class="panel-top-songs-img" src="https://sslj.ulximg.com/image/58x58/cover/1461468590_479026695482fa5ba874c9e1ddec5726.png/096c3fa8f73b0fc6d68f895faa6a4771/1461468590_b67d4ea23b6b8016b24627586ec55d35.png" width="58" height="58" alt="Freedom" title="Freedom"><div class="panel-unit-body">
                                                <div class="cover-title topSongs-item-title">
                                                    Freedom
                                                </div><div class="panel-body-artist"><em class="artistStrong">Beyoncé</em><em class="feature"> Feat. </em><em class="feature">Kendrick Lamar</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-stats hidden-md-down"><span title="Views">296K Views</span><span title="Comments">204 Comments</span></div>
                                            </div>
                                        </a>
                                    </article>
                                </ul><a href="/Beyonce/songs/" class="btn hnhh-desktop-btn big-btn hidden-md-down">
                                    ALL SONGS
                                    <i class="fa fa-chevron-right m-l-1"></i>
                                </a>
                            </div>
                        </div><div class="js-artist-block-wrapper artist-block-wrapper field-processed--js-artist-block-wrapper">
                            <div class="artist-collapse-header hidden-lg-up"><div class="artistCollapse-leftTrigger js-artist-block-arrow"><h2 class="artistCollapse-title">Recent Videos</h2><div class="artistCollapse-arrow"><i class="icon icon-caret-down"></i><i class="icon icon-caret-up"></i></div></div><div class="artistCollapse-rightTrigger"><a href="/Beyonce/videos/" class="artistCollapse-archive">All Videos</a></div></div><div class="artist-header hidden-md-down">
                                <h2 class="nd-main-headers artist-header-text">
                                    Recent Videos
                                </h2>
                            </div><div class="drop-down-wrapper-block js-artist-block-content">
                                <ul class="dropDown-listBlock">
                                    <article class="artistTopVideos-item artist-recent-videos-big right">
                                        <a class="artistTopVideos-anchor" href="/beyonce-formation-video-new-video.36710.html"><div class="artistTopVideos-cover-wrapper"><img src="https://ssla.ulximg.com/image/405x228/cover/1454792262_1ba0bfc5479fea2e66900f07a624c9fa.jpg/ad27b58d91ec71fca9742a3bc424bea5/1454792262_320296a659dd977077837ecbda1afe94.jpg" data-coversizemobile="https://ssl.ulximg.com/image/66x50/cover/1454792262_1ba0bfc5479fea2e66900f07a624c9fa.jpg/c6a50931cc127353fe6d64ba90ee71a8/1454792262_320296a659dd977077837ecbda1afe94.jpg" data-coversizedesktop="https://ssla.ulximg.com/image/405x228/cover/1454792262_1ba0bfc5479fea2e66900f07a624c9fa.jpg/ad27b58d91ec71fca9742a3bc424bea5/1454792262_320296a659dd977077837ecbda1afe94.jpg" alt="Beyonce &quot;Formation&quot; Video" title="Beyonce &quot;Formation&quot; Video" class="js-img-switcher"></div><div class="default-videos-play-btn hidden-md-down"><i class="fa fa-play"></i></div></a><div class="artistTopVideos-body">
                                            <a href="/beyonce-formation-video-new-video.36710.html" class="cover-title">
                                                Beyonce "Formation" Video
                                            </a><div class="artistTopVideos-stats-block hidden-md-down"><span title="Views">214K Views</span><span title="Comments">86 Comments</span></div>
                                        </div>
                                    </article>
                                    <article class="artistTopVideos-item  left">
                                        <a class="artistTopVideos-anchor" href="/beyonce-feat-kanye-west-and-jay-z-drunk-in-love-remix-video-trailer-new-video.25883.html"><div class="artistTopVideos-cover-wrapper"><img src="https://sslc.ulximg.com/image/194x108/cover/1392494908_89dba0e385639984a13527eb12512444.jpg/ef94f1ae3e2dc0f5cde49419c9147c01/1392494908_beyonce_cowgirl_12.jpg" data-coversizemobile="https://sslb.ulximg.com/image/66x50/cover/1392494908_89dba0e385639984a13527eb12512444.jpg/2f36fb77c6ba5c516de996dc6e1370d5/1392494908_beyonce_cowgirl_12.jpg" data-coversizedesktop="https://sslc.ulximg.com/image/194x108/cover/1392494908_89dba0e385639984a13527eb12512444.jpg/ef94f1ae3e2dc0f5cde49419c9147c01/1392494908_beyonce_cowgirl_12.jpg" alt="Beyonce Feat. Kanye West &amp; Jay Z &quot;Drunk In Love (Remix)&quot; Video Trailer" title="Beyonce Feat. Kanye West &amp; Jay Z &quot;Drunk In Love (Remix)&quot; Video Trailer" class="js-img-switcher"></div><div class="small-videos-play-btn hidden-md-down"><i class="fa fa-play"></i></div></a><div class="artistTopVideos-body">
                                            <a href="/beyonce-feat-kanye-west-and-jay-z-drunk-in-love-remix-video-trailer-new-video.25883.html" class="cover-title">
                                                Beyonce Feat. Kanye West &amp; Jay Z "Drunk In Love (Remix)" Video Trailer
                                            </a><div class="artistTopVideos-stats-block hidden-md-down"><span title="Views">68K Views</span><span title="Comments">14 Comments</span></div>
                                        </div>
                                    </article>
                                    <article class="artistTopVideos-item  right">
                                        <a class="artistTopVideos-anchor" href="/beyonce-partition-video-new-video.26258.html"><div class="artistTopVideos-cover-wrapper"><img src="https://ssle.ulximg.com/image/194x108/cover/1418083174_8583e5103494621e7d41773a824cc8d6.jpg/ac3a9897a4ab73511903ce9629031e2a/1418083174_beyonce.jpg" data-coversizemobile="https://ssld.ulximg.com/image/66x50/cover/1418083174_8583e5103494621e7d41773a824cc8d6.jpg/963efada1dd165ceb28787497ac69731/1418083174_beyonce.jpg" data-coversizedesktop="https://ssle.ulximg.com/image/194x108/cover/1418083174_8583e5103494621e7d41773a824cc8d6.jpg/ac3a9897a4ab73511903ce9629031e2a/1418083174_beyonce.jpg" alt="Beyonce &quot;Partition&quot; Video" title="Beyonce &quot;Partition&quot; Video" class="js-img-switcher"></div><div class="small-videos-play-btn hidden-md-down"><i class="fa fa-play"></i></div></a><div class="artistTopVideos-body">
                                            <a href="/beyonce-partition-video-new-video.26258.html" class="cover-title">
                                                Beyonce "Partition" Video
                                            </a><div class="artistTopVideos-stats-block hidden-md-down"><span title="Views">58K Views</span><span title="Comments">8 Comments</span></div>
                                        </div>
                                    </article>
                                    <article class="artistTopVideos-item  left">
                                        <a class="artistTopVideos-anchor" href="/beyonce-beyonce-performs-with-blue-ivy-on-stage-video.10857.html"><div class="artistTopVideos-cover-wrapper"><img src="https://sslg.ulximg.com/image/194x108/cover/1425719102_31b34fdfa6cccd8b0f9e6c1533cde47a.jpg/b30151c5ca902a4a816bdd1b6822b4d8/ngmDfY0ilDA.jpg" data-coversizemobile="https://sslf.ulximg.com/image/66x50/cover/1425719102_31b34fdfa6cccd8b0f9e6c1533cde47a.jpg/9935352e07e468a691a80f59dd3671e0/ngmDfY0ilDA.jpg" data-coversizedesktop="https://sslg.ulximg.com/image/194x108/cover/1425719102_31b34fdfa6cccd8b0f9e6c1533cde47a.jpg/b30151c5ca902a4a816bdd1b6822b4d8/ngmDfY0ilDA.jpg" alt="Beyonce Performing With Blue Ivy On Stage" title="Beyonce Performing With Blue Ivy On Stage" class="js-img-switcher"></div><div class="small-videos-play-btn hidden-md-down"><i class="fa fa-play"></i></div></a><div class="artistTopVideos-body">
                                            <a href="/beyonce-beyonce-performs-with-blue-ivy-on-stage-video.10857.html" class="cover-title">
                                                Beyonce Performing With Blue Ivy On Stage
                                            </a><div class="artistTopVideos-stats-block hidden-md-down"><span title="Views">57K Views</span><span title="Comments">5 Comments</span></div>
                                        </div>
                                    </article>
                                    <article class="artistTopVideos-item  right">
                                        <a class="artistTopVideos-anchor" href="/beyonce-yonce-video-video.23848.html"><div class="artistTopVideos-cover-wrapper"><img src="https://ssli.ulximg.com/image/194x108/cover/1418083636_05d24f3a76b73a8b56a19b5051653c89.jpg/49b741d3c91c7e96430b326229493f18/1418083636_beyonce.jpg" data-coversizemobile="https://sslh.ulximg.com/image/66x50/cover/1418083636_05d24f3a76b73a8b56a19b5051653c89.jpg/e4da5f45a460c4482047af465d130ebb/1418083636_beyonce.jpg" data-coversizedesktop="https://ssli.ulximg.com/image/194x108/cover/1418083636_05d24f3a76b73a8b56a19b5051653c89.jpg/49b741d3c91c7e96430b326229493f18/1418083636_beyonce.jpg" alt="Beyonce &quot;Yonce&quot; Video" title="Beyonce &quot;Yonce&quot; Video" class="js-img-switcher"></div><div class="small-videos-play-btn hidden-md-down"><i class="fa fa-play"></i></div></a><div class="artistTopVideos-body">
                                            <a href="/beyonce-yonce-video-video.23848.html" class="cover-title">
                                                Beyonce "Yonce" Video
                                            </a><div class="artistTopVideos-stats-block hidden-md-down"><span title="Views">56K Views</span><span title="Comments">9 Comments</span></div>
                                        </div>
                                    </article>
                                </ul><a href="/Beyonce/videos/" class="btn hnhh-desktop-btn big-btn hidden-md-down">
                                    ALL VIDEOS
                                    <i class="fa fa-chevron-right m-l-1"></i>
                                </a>
                            </div>
                        </div>
                    </div><div class="col-lg-6 no-padding-mobile">
                        <div class="js-artist-block-wrapper artist-block-wrapper mixtape-block-wrapper field-processed--js-artist-block-wrapper">
                            <div class="artist-collapse-header hidden-lg-up"><div class="artistCollapse-leftTrigger js-artist-block-arrow"><h2 class="artistCollapse-title">Top Mixtapes</h2><div class="artistCollapse-arrow"><i class="icon icon-caret-down"></i><i class="icon icon-caret-up"></i></div></div><div class="artistCollapse-rightTrigger"><a href="/Beyonce/mixtapes/" class="artistCollapse-archive">All Mixtapes</a></div></div><div class="artist-header hidden-md-down">
                                <h2 class="nd-main-headers artist-header-text">
                                    Top Mixtapes
                                </h2>
                            </div><div class="drop-down-wrapper-block js-artist-block-content">
                                <ul class="dropDown-listBlock">
                                    <article class="panel-unit panelTopMixtapes-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/beyonce-and-jay-z-drop-joint-everything-is-love-album-as-the-carters-new-mixtape.118155.html"><div class="panel-unit-image"><img src="https://sslj.ulximg.com/image/58x58/cover/1529188714_7497b205e250d3871358432497efb54f.jpg/a9a4fc61cfb9849885deeefa5f0d2011/1529188714_5c1de0914dc0d389b19ae56fe7cc046c.jpg" width="58" height="58" alt="Everything Is Love" title="Everything Is Love"></div></a><div class="panel-unit-body">
                                                <a href="/beyonce-and-jay-z-drop-joint-everything-is-love-album-as-the-carters-new-mixtape.118155.html" class="cover-title panelTopMixtapes-title">
                                                    Everything Is Love
                                                </a><div class="panel-body-artist"><em class="artistStrong">The Carters</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-topMixtapes-stats hidden-md-down"><span title="Views">63K Views</span><span title="Comments">201 Comments</span></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopMixtapes-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/beyonce-beyonce-chopped-and-screwed-by-ron-c-and-dj-candlestick-new-mixtape.107592.html"><div class="panel-unit-image"><img src="https://ssl.ulximg.com/image/58x58/cover/1390770269_089f99ee713c52b139de51d6a119c574.jpg/fa9140e8d88185723a16524af9f846db/1390770269_00_cover_42.jpg" width="58" height="58" alt="Beyonce (Chopped &amp; Screwed By Ron C &amp; DJ Candlestick)" title="Beyonce (Chopped &amp; Screwed By Ron C &amp; DJ Candlestick)"></div></a><div class="panel-unit-body">
                                                <a href="/beyonce-beyonce-chopped-and-screwed-by-ron-c-and-dj-candlestick-new-mixtape.107592.html" class="cover-title panelTopMixtapes-title">
                                                    Beyonce (Chopped &amp; Screwed By Ron C &amp; DJ Candlestick)
                                                </a><div class="panel-body-artist"><em class="artistStrong">Beyoncé</em></div><div class="panel-unit-review"></div><div class="panel-artist-topMixtapes-stats hidden-md-down"><span title="Views">51K Views</span><span title="Comments">20 Comments</span></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopMixtapes-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/stream-eminems-revival-album-new-mixtape.117692.html"><div class="panel-unit-image"><img src="https://ssla.ulximg.com/image/58x58/cover/1513300913_f12057c263b31316c7b5389d6ad2293f.jpg/d420b7c65c2ca16c2b0e813d8e9369c6/1513300913_5d56f2ac4c6b1670837fa8a1c0b3a8d6.jpg" width="58" height="58" alt="Revival" title="Revival"></div></a><div class="panel-unit-body">
                                                <a href="/stream-eminems-revival-album-new-mixtape.117692.html" class="cover-title panelTopMixtapes-title">
                                                    Revival
                                                </a><div class="panel-body-artist"><em class="artistStrong">Eminem</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        VERY HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-topMixtapes-stats hidden-md-down"><span title="Views">37K Views</span><span title="Comments">101 Comments</span></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopMixtapes-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/boots-winterspringsummerfall-new-mixtape.112116.html"><div class="panel-unit-image"><img src="https://sslb.ulximg.com/image/58x58/cover/1399323524_9ca31536b3a5fd79fb2b3e3a6d62d14e.jpg/d7e3113df44a1ee30ce6e809a7e15b9b/1399323524_artworks_000077605040_6kxria_t500x500_76.jpg" width="58" height="58" alt="WinterSpringSummerFall" title="WinterSpringSummerFall"></div></a><div class="panel-unit-body">
                                                <a href="/boots-winterspringsummerfall-new-mixtape.112116.html" class="cover-title panelTopMixtapes-title">
                                                    WinterSpringSummerFall
                                                </a><div class="panel-body-artist"><em class="artistStrong">Boots</em></div><div class="panel-unit-review"></div><div class="panel-artist-topMixtapes-stats hidden-md-down"><span title="Views">28K Views</span><span title="Comments">5 Comments</span></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopMixtapes-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/beyonc-and-solange-a-seat-at-the-table-while-sipping-purple-lemonade-new-mixtape.116845.html"><div class="panel-unit-image"><img src="https://sslc.ulximg.com/image/58x58/cover/1486504181_6f8c82119d9e669122254e8a67cf1f24.jpg/12682e92ad18299129937fbf1331db60/1486504181_a8a87f8a126090f44760395fb9e6969e.jpg" width="58" height="58" alt="A Seat At The Table While Sipping Purple Lemonade" title="A Seat At The Table While Sipping Purple Lemonade"></div></a><div class="panel-unit-body">
                                                <a href="/beyonc-and-solange-a-seat-at-the-table-while-sipping-purple-lemonade-new-mixtape.116845.html" class="cover-title panelTopMixtapes-title">
                                                    A Seat At The Table While Sipping Purple Lemonade
                                                </a><div class="panel-body-artist"><em class="artistStrong">Beyoncé</em><em class="artistStrong"> &amp; </em><em class="artistStrong">Solange</em></div><div class="panel-unit-review">
                                                    <span class="center-review">
                                                        HOTTTTT
                                                    </span>
                                                </div><div class="panel-artist-topMixtapes-stats hidden-md-down"><span title="Views">21K Views</span><span title="Comments">11 Comments</span></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopMixtapes-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/melo-x-yonce-x-new-mixtape.106468.html"><div class="panel-unit-image"><img src="https://ssld.ulximg.com/image/58x58/cover/1389317025_841a52054633dcf795a3a601bb430e49.jpg/67b7d43b68381d29f14fd7ff6a7f5902/1389317025_yonc_x_cover_75.jpg" width="58" height="58" alt="YONCÉ-X" title="YONCÉ-X"></div></a><div class="panel-unit-body">
                                                <a href="/melo-x-yonce-x-new-mixtape.106468.html" class="cover-title panelTopMixtapes-title">
                                                    YONCÉ-X
                                                </a><div class="panel-body-artist"><em class="artistStrong">MeLo-X</em></div><div class="panel-unit-review"></div><div class="panel-artist-topMixtapes-stats hidden-md-down"><span title="Views">13K Views</span><span title="Comments">6 Comments</span></div>
                                            </div>
                                        </div>
                                    </article>
                                </ul><a href="/Beyonce/mixtapes/" class="btn hnhh-desktop-btn big-btn hidden-md-down">
                                    ALL MIXTAPES
                                    <i class="fa fa-chevron-right m-l-1"></i>
                                </a>
                            </div>
                        </div><div class="js-artist-block-wrapper artist-block-wrapper field-processed--js-artist-block-wrapper">
                            <div class="artist-collapse-header hidden-lg-up"><div class="artistCollapse-leftTrigger js-artist-block-arrow"><h2 class="artistCollapse-title">Top Stories</h2><div class="artistCollapse-arrow"><i class="icon icon-caret-down"></i><i class="icon icon-caret-up"></i></div></div><div class="artistCollapse-rightTrigger"><a href="/Beyonce/news/" class="artistCollapse-archive">All News</a></div></div><div class="artist-header hidden-md-down">
                                <h2 class="nd-main-headers artist-header-text">
                                    Top Stories
                                </h2>
                            </div><div class="drop-down-wrapper-block js-artist-block-content">
                                <ul class="dropDown-listBlock">
                                    <article class="panel-unit panelTopArticles-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/tracklist-for-the-great-gatsby-soundtrack-features-new-music-from-jay-z-beyonce-andre-3000-and-more-news.5131.html"><div class="panel-unit-image"><img src="https://ssle.ulximg.com/image/116x77/cover/1523302102_a5211d532e7d2c513b0b89cd63b62ed8.jpg/5f03af7a19ef6aca974b8db9b9c5d2c0/1523302102_c1d815e65ec6217d34e18133632e45bb.jpg" width="116" height="77" alt="Tracklist  For &quot;The Great Gatsby&quot; Soundtrack Features New Music From Jay-Z, Beyonce, Andre 3000 &amp; More [Update: Listen To Album Snippets]" title="Tracklist  For &quot;The Great Gatsby&quot; Soundtrack Features New Music From Jay-Z, Beyonce, Andre 3000 &amp; More [Update: Listen To Album Snippets]" class="hover-style"></div></a><div class="panel-unit-body ">
                                                <a href="/tracklist-for-the-great-gatsby-soundtrack-features-new-music-from-jay-z-beyonce-andre-3000-and-more-news.5131.html" class="cover-title">
                                                    Tracklist  For "The Great Gatsby" Soundtrack Features New Music From Jay-Z, Beyonce, Andre 3000 &amp; More [Update: Listen To Album Snippets]
                                                </a><div class="panel-body-artist"></div><div class="panel-unit-review"><span class="center-review"></span></div><div class="panel-artist-stats">
                                                    <em class="hidden-lg-up js-live-date live-date field-processed--js-live-date"><span class="js-live-date-stopped" data-format="MMM D, YYYY" data-date="1366151160" data-ago="">Apr 16, 2013</span></em><em class="hidden-lg-up">
                                                        &nbsp;|&nbsp;
                                                    </em><em class="">
                                                        2,095,174 Views
                                                    </em>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopArticles-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/beyonce-may-have-chosen-a-side-in-the-nicki-minaj-and-cardi-b-feud-news.59689.html"><div class="panel-unit-image"><img src="https://sslf.ulximg.com/image/116x77/cover/1536864016_ae824f8d31eea98a2cc23cc9044a6578.jpg/78d34722ec39103d2c3f193caf906afd/1536864016_03841a5ea16d51a7e69e8555e09c9e5e.jpg" width="116" height="77" alt="Beyonce May Have Chosen A Side In The Nicki Minaj And Cardi B Feud" title="Beyonce May Have Chosen A Side In The Nicki Minaj And Cardi B Feud" class="hover-style"></div></a><div class="panel-unit-body ">
                                                <a href="/beyonce-may-have-chosen-a-side-in-the-nicki-minaj-and-cardi-b-feud-news.59689.html" class="cover-title">
                                                    Beyonce May Have Chosen A Side In The Nicki Minaj And Cardi B Feud
                                                </a><div class="panel-body-artist"></div><div class="panel-unit-review"><span class="center-review"></span></div><div class="panel-artist-stats">
                                                    <em class="hidden-lg-up js-live-date live-date field-processed--js-live-date"><span class="js-live-date-stopped" data-format="MMM D, YYYY" data-date="1536864712" data-ago="">Sep 13, 2018</span></em><em class="hidden-lg-up">
                                                        &nbsp;|&nbsp;
                                                    </em><em class="">
                                                        474,987 Views
                                                    </em>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopArticles-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/jay-z-seemingly-confronts-offset-in-new-backstage-video-news.62337.html"><div class="panel-unit-image"><img src="https://sslg.ulximg.com/image/116x77/cover/1539720026_d2afafa6f44b605d717af6db849a1a39.jpg/93d36f0f94c6550a955f63299d2e6d55/1539720017_35d8e70249bc1aaf1b99d959e811ab60.jpg" width="116" height="77" alt="Jay-Z Seemingly Confronts Offset In New Backstage Video" title="Jay-Z Seemingly Confronts Offset In New Backstage Video" class="hover-style"></div></a><div class="panel-unit-body ">
                                                <a href="/jay-z-seemingly-confronts-offset-in-new-backstage-video-news.62337.html" class="cover-title">
                                                    Jay-Z Seemingly Confronts Offset In New Backstage Video
                                                </a><div class="panel-body-artist"></div><div class="panel-unit-review"><span class="center-review"></span></div><div class="panel-artist-stats">
                                                    <em class="hidden-lg-up js-live-date live-date field-processed--js-live-date"><span class="js-live-date-stopped" data-format="MMM D, YYYY" data-date="1539720723" data-ago="">Oct 16, 2018</span></em><em class="hidden-lg-up">
                                                        &nbsp;|&nbsp;
                                                    </em><em class="">
                                                        279,809 Views
                                                    </em>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopArticles-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/comedian-apologizes-for-calling-blue-ivy-ugly-like-her-father-jay-z-news.65834.html"><div class="panel-unit-image"><img src="https://sslh.ulximg.com/image/116x77/cover/1543769167_d731d4201b99c81b0e3498ac766b309c.jpg/70568c142fa1ebd5424d9d740c0b1d0f/1543769167_8dcae7d1247b2ad07cbd644d0f2fe6fd.jpg" width="116" height="77" alt="Comedian Apologizes For Calling Blue Ivy &quot;Ugly&quot; Like Her Father Jay-Z" title="Comedian Apologizes For Calling Blue Ivy &quot;Ugly&quot; Like Her Father Jay-Z" class="hover-style"></div></a><div class="panel-unit-body ">
                                                <a href="/comedian-apologizes-for-calling-blue-ivy-ugly-like-her-father-jay-z-news.65834.html" class="cover-title">
                                                    Comedian Apologizes For Calling Blue Ivy "Ugly" Like Her Father Jay-Z
                                                </a><div class="panel-body-artist"></div><div class="panel-unit-review"><span class="center-review"></span></div><div class="panel-artist-stats">
                                                    <em class="hidden-lg-up js-live-date live-date field-processed--js-live-date"><span class="js-live-date-stopped" data-format="MMM D, YYYY" data-date="1543769529" data-ago="">Dec 2, 2018</span></em><em class="hidden-lg-up">
                                                        &nbsp;|&nbsp;
                                                    </em><em class="">
                                                        265,285 Views
                                                    </em>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopArticles-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/listen-to-beyonces-lemonade-album-featuring-kendrick-lamar-the-weeknd-and-more-news.21241.html"><div class="panel-unit-image"><img src="https://ssli.ulximg.com/image/116x77/cover/1461532569_47dd9d597aee55f3b48eef6ee8976a7a.jpg/e56127986f20e3199a17792a5ac87c4f/1461464646_35f27558f558d7efdf92981a196d9b97.jpg" width="116" height="77" alt="Listen To Beyonce's &quot;Lemonade&quot; Album, Featuring Kendrick Lamar, The Weeknd &amp; More" title="Listen To Beyonce's &quot;Lemonade&quot; Album, Featuring Kendrick Lamar, The Weeknd &amp; More" class="hover-style"></div></a><div class="panel-unit-body ">
                                                <a href="/listen-to-beyonces-lemonade-album-featuring-kendrick-lamar-the-weeknd-and-more-news.21241.html" class="cover-title">
                                                    Listen To Beyonce's "Lemonade" Album, Featuring Kendrick Lamar, The Weeknd &amp; More
                                                </a><div class="panel-body-artist"></div><div class="panel-unit-review"><span class="center-review"></span></div><div class="panel-artist-stats">
                                                    <em class="hidden-lg-up js-live-date live-date field-processed--js-live-date"><span class="js-live-date-stopped" data-format="MMM D, YYYY" data-date="1461464671" data-ago="">Apr 23, 2016</span></em><em class="hidden-lg-up">
                                                        &nbsp;|&nbsp;
                                                    </em><em class="">
                                                        224,732 Views
                                                    </em>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="panel-unit panelTopArticles-wrapper">
                                        <div class="panel-unit-anchor">
                                            <a href="/beyonce-and-jay-z-reportedly-sever-all-ties-with-kanye-west-and-kim-kardashian-news.61802.html"><div class="panel-unit-image"><img src="https://sslj.ulximg.com/image/116x77/cover/1539179855_a4a21ace21d3d53c505880d4d4378ec2.jpg/5d1e405479c20a2a06471d1b951a137f/1539179851_35baa49b6c923fe9a450c567b4fdbd34.jpg" width="116" height="77" alt="Beyonce &amp; Jay-Z Reportedly &quot;Sever All Ties&quot; With Kanye West &amp; Kim Kardashian" title="Beyonce &amp; Jay-Z Reportedly &quot;Sever All Ties&quot; With Kanye West &amp; Kim Kardashian" class="hover-style"></div></a><div class="panel-unit-body ">
                                                <a href="/beyonce-and-jay-z-reportedly-sever-all-ties-with-kanye-west-and-kim-kardashian-news.61802.html" class="cover-title">
                                                    Beyonce &amp; Jay-Z Reportedly "Sever All Ties" With Kanye West &amp; Kim Kardashian
                                                </a><div class="panel-body-artist"></div><div class="panel-unit-review"><span class="center-review"></span></div><div class="panel-artist-stats">
                                                    <em class="hidden-lg-up js-live-date live-date field-processed--js-live-date"><span class="js-live-date-stopped" data-format="MMM D, YYYY" data-date="1539181105" data-ago="">Oct 10, 2018</span></em><em class="hidden-lg-up">
                                                        &nbsp;|&nbsp;
                                                    </em><em class="">
                                                        223,132 Views
                                                    </em>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </ul><a href="/Beyonce/news/" class="btn hnhh-desktop-btn big-btn hidden-md-down">
                                    ALL NEWS
                                    <i class="fa fa-chevron-right m-l-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-hnhh-right">
                <div class="hidden-md-down pull-left rightAdBlock-wrapper">
                    <div class="pull-left w100per"><div class="js-live-widget2 css-widget css-live-widget_googleAdBlock desktop-css-live-widget_googleAdBlock field-processed--js-live-widget2" data-layout="default" data-loadonclick="0" data-bp="desktop" data-lazy="0" data-jsonly="0" data-token="370a3778932e2ca6168e9616fa26a8a4" data-ajax="0" data-cache="76334cf3d6325257edac63214193eb7b" data-key="googleAdBlock" data-url="/widget2/googleAdBlock?params=%7B%22key%22%3A%22googleAdBlock%22%2C%22bp%22%3A%22desktop%22%2C%22selector%22%3A%22js-sidebar-topRow-ad+js-sidebar-sticky%22%2C%22can_refresh%22%3Atrue%2C%22title%22%3A%22HNHH_Desktop_Sidebar1%22%2C%22size%22%3A%5B%5B300%2C250%5D%2C%5B300%2C600%5D%5D%2C%22hb%22%3A1%7D&amp;bp=desktop&amp;desktop=1"><div class="js-widget-wrapper css-widget-wrapper widget2--googleAdBlock"><!-- HNHH_Desktop_Sidebar1 --><div class="banner HNHH_Desktop_Sidebar1  border-wrapper-inner  js-interscroller"><div class="google-ads js-google-ad2 js-sidebar-topRow-ad js-sidebar-sticky field-processed--js-sidebar-sticky" id="HNHH_Desktop_Sidebar1" data-property="HNHH_Desktop_Sidebar1" data-size="[[300,250],[300,600]]" data-hb="1" data-client="" data-refresh="1" style="font-size:0;line-height:0;min-height:250px;margin:0 auto;text-align: center;" data-google-query-id="CNHnp8LSxeACFQowlgod3FAJbQ"><div id="google_ads_iframe_/3858450/HNHH_Desktop_Sidebar1_0__container__" style="border: 0pt none; display: inline-block; width: 300px; height: 250px;"><iframe frameborder="0" src="https://tpc.googlesyndication.com/safeframe/1-0-32/html/container.html" id="google_ads_iframe_/3858450/HNHH_Desktop_Sidebar1_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="300" height="250" data-is-safeframe="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" data-google-container-id="2" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe></div></div></div></div></div></div><div class="pull-left w100per">
                        <div class="js-live-widget2 css-widget css-live-widget_getLatestNews desktop-css-live-widget_getLatestNews field-processed--js-live-widget2" data-layout="default" data-loadonclick="0" data-bp="desktop" data-lazy="0" data-jsonly="0" data-token="f84ddca3de2d4dcba00f4822f880fbc5" data-ajax="1" data-cache="d02aeb77c5a60fc35ad2aa12f3b924eb" data-key="getLatestNews" data-url="/widget2/getLatestNews?params=%7B%22key%22%3A%22getLatestNews%22%2C%22bp%22%3A%22desktop%22%2C%22isSidebar%22%3Atrue%2C%22ajax%22%3Atrue%2C%22data%22%3A%22popularity%22%7D&amp;bp=desktop&amp;desktop=1">
                            <div class="js-widget-wrapper css-widget-wrapper widget2--getLatestNews">
                                <div class="js-getLatestNews latestStream hidden-md-down">
                                    <div class="latestStream-header-block"><strong class="nd-main-headers latestStream-header"><a href="/articles/news/" class="">Latest News</a></strong></div><ul class="latestStream-stream sidebar">
                                        <li class="latestNews-item">
                                            <a href="/soulja-boy-and-blac-chynas-relationship-was-just-to-troll-tyga-news.72245.html" class="latestNews-cover-anchor" title="Soulja Boy &amp; Blac Chyna's Relationship Was Just To Troll Tyga"><img class="latestNews-cover sidebar hover-style" src="https://ssl.ulximg.com/image/116x77/cover/1550504027_72db495eb24234132ae2fd2a6d39a43b.jpg/d517e1c4deb0634205e092995c51a1ed/1550504027_bd8a49b2cf634884dc01269ab8a0b38c.jpg" width="116" height="77" alt="Soulja Boy &amp; Blac Chyna's Relationship Was Just To Troll Tyga" title="Soulja Boy &amp; Blac Chyna's Relationship Was Just To Troll Tyga"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/music/">
                                                        MUSIC
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/soulja-boy-and-blac-chynas-relationship-was-just-to-troll-tyga-news.72245.html" title="Soulja Boy &amp; Blac Chyna's Relationship Was Just To Troll Tyga">Soulja Boy &amp; Blac Chyna's Relationship Was Just To Troll Tyga</a></div><a class="stats-count-default latestNews-comment" href="/soulja-boy-and-blac-chynas-relationship-was-just-to-troll-tyga-news.72245.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>0 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550504869" data-ago="" title="Mon Feb 18 2019 22:47:49 GMT+0700 (Indochina Time)">9 min</span></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item">
                                            <a href="/jussie-smollett-wanted-for-follow-up-interview-with-police-due-to-new-evidence-news.72239.html" class="latestNews-cover-anchor" title="Jussie Smollett Wanted For Follow-Up Interview With Police Due To &quot;New Evidence&quot;"><img class="latestNews-cover sidebar hover-style" src="https://ssla.ulximg.com/image/116x77/cover/1550503526_613190c0f68689ded1cd074e43263962.jpg/5d837ff4de3fffbb9ddc208e220f3a5b/1550503526_a3b060c145e267204e85cc53d505fb76.jpg" width="116" height="77" alt="Jussie Smollett Wanted For Follow-Up Interview With Police Due To &quot;New Evidence&quot;" title="Jussie Smollett Wanted For Follow-Up Interview With Police Due To &quot;New Evidence&quot;"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/entertainment/">
                                                        ENTERTAINMENT
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/jussie-smollett-wanted-for-follow-up-interview-with-police-due-to-new-evidence-news.72239.html" title="Jussie Smollett Wanted For Follow-Up Interview With Police Due To &quot;New Evidence&quot;">Jussie Smollett Wanted For Follow-Up Interview With Police Due To "New Evidence"</a></div><a class="stats-count-default latestNews-comment" href="/jussie-smollett-wanted-for-follow-up-interview-with-police-due-to-new-evidence-news.72239.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>0 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550504736" data-ago="" title="Mon Feb 18 2019 22:45:36 GMT+0700 (Indochina Time)">11 min</span></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item js-native-ad field-processed--js-native-ad" style="padding-bottom: 5px;"><div class="js-live-widget2 css-widget css-live-widget_googleAdBlock desktop-css-live-widget_googleAdBlock field-processed--js-live-widget2" data-layout="default" data-loadonclick="0" data-bp="desktop" data-lazy="0" data-jsonly="0" data-token="8c8de43ff71301ca869db7135e00283c" data-ajax="0" data-cache="d5bbf795d21ed5bc44a5c064fc31c087" data-key="googleAdBlock" data-url="/widget2/googleAdBlock?params=%7B%22key%22%3A%22googleAdBlock%22%2C%22nolabel%22%3Atrue%2C%22bp%22%3A%22desktop%22%2C%22title%22%3A%22HNHH_Desktop_List2_Interscroller%22%2C%22size%22%3A%22fluid%22%7D&amp;bp=desktop&amp;desktop=1" style="min-height: 10px;"><div class="js-widget-wrapper css-widget-wrapper widget2--googleAdBlock" style="margin-bottom: 0px;"><!-- HNHH_Desktop_List2_Interscroller --><div class="banner HNHH_Desktop_List2_Interscroller    js-interscroller"><div class="google-ads js-google-ad2 " id="HNHH_Desktop_List2_Interscroller" data-property="HNHH_Desktop_List2_Interscroller" data-size="&quot;fluid&quot;" data-hb="" data-client="" data-refresh="" style="font-size:0;line-height:0;min-height:px;margin:0 auto;text-align: center;" data-google-query-id="CLrkp8LSxeACFUaTvQod2ikKrg"><div id="google_ads_iframe_/3858450/HNHH_Desktop_List2_Interscroller_0__container__" style="border: 0pt none; display: inline-block; width: 100%; height: auto;"><iframe frameborder="0" src="https://tpc.googlesyndication.com/safeframe/1-0-32/html/container.html" id="google_ads_iframe_/3858450/HNHH_Desktop_List2_Interscroller_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="0" height="85" data-is-safeframe="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" data-google-container-id="5" style="border: 0px; vertical-align: bottom; min-width: 100%;" data-load-complete="true"></iframe></div></div></div></div></div></li>
                                        <li class="latestNews-item">
                                            <a href="/chief-keef-shooter-named-in-tekashi-6ix9ine-case-celebrates-his-release-from-jail-news.72210.html" class="latestNews-cover-anchor" title="&quot;Chief Keef Shooter&quot; Named In Tekashi 6ix9ine Case Celebrates Release From Jail"><img class="latestNews-cover sidebar hover-style" src="https://sslb.ulximg.com/image/116x77/cover/1550433210_f6c9012fc81dd229f7b6da646225269e.jpg/af47764031f9cb0e39788e736c11e1d8/1550433210_785565e5f691e886f4085ececc3d469a.jpg" width="116" height="77" alt="&quot;Chief Keef Shooter&quot; Named In Tekashi 6ix9ine Case Celebrates Release From Jail" title="&quot;Chief Keef Shooter&quot; Named In Tekashi 6ix9ine Case Celebrates Release From Jail"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/music/">
                                                        MUSIC
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/chief-keef-shooter-named-in-tekashi-6ix9ine-case-celebrates-his-release-from-jail-news.72210.html" title="&quot;Chief Keef Shooter&quot; Named In Tekashi 6ix9ine Case Celebrates Release From Jail">"Chief Keef Shooter" Named In Tekashi 6ix9ine Case Celebrates Release From Jail</a></div><a class="stats-count-default latestNews-comment" href="/chief-keef-shooter-named-in-tekashi-6ix9ine-case-celebrates-his-release-from-jail-news.72210.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>79 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550433340" data-ago="" title="Mon Feb 18 2019 02:55:40 GMT+0700 (Indochina Time)">Feb 18, 2019</span></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item">
                                            <a href="/toni-braxton-reacts-to-lindsay-lohan-bashing-her-sister-tamar-braxton-news.72204.html" class="latestNews-cover-anchor" title="Toni Braxton Reacts To Lindsay Lohan Bashing Her Sister Tamar Braxton"><img class="latestNews-cover sidebar hover-style" src="https://sslc.ulximg.com/image/116x77/cover/1550428405_118a0492a21e356f9e638664f17802ee.jpg/f94b649668250bebd1e8d043a43b3896/1550428405_3c35312e575eb695f60274143853e310.jpg" width="116" height="77" alt="Toni Braxton Reacts To Lindsay Lohan Bashing Her Sister Tamar Braxton" title="Toni Braxton Reacts To Lindsay Lohan Bashing Her Sister Tamar Braxton"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/entertainment/">
                                                        ENTERTAINMENT
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/toni-braxton-reacts-to-lindsay-lohan-bashing-her-sister-tamar-braxton-news.72204.html" title="Toni Braxton Reacts To Lindsay Lohan Bashing Her Sister Tamar Braxton">Toni Braxton Reacts To Lindsay Lohan Bashing Her Sister Tamar Braxton</a></div><a class="stats-count-default latestNews-comment" href="/toni-braxton-reacts-to-lindsay-lohan-bashing-her-sister-tamar-braxton-news.72204.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>27 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550429129" data-ago="" title="Mon Feb 18 2019 01:45:29 GMT+0700 (Indochina Time)">Feb 18, 2019</span></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item">
                                            <a href="/nicole-scherzinger-and-lewis-hamiltons-intimate-video-leaks-online-news.72240.html" class="latestNews-cover-anchor" title="Nicole Scherzinger &amp; Lewis Hamilton's Intimate Video Leaks Online"><img class="latestNews-cover sidebar hover-style" src="https://ssld.ulximg.com/image/116x77/cover/1550502341_816c4bb55af7d462a993fd41237ad780.jpg/02788de6b61e9d3e15263326e556bf41/1550502341_ae9ac0a0eac0f27338f3684b4d892c14.jpg" width="116" height="77" alt="Nicole Scherzinger &amp; Lewis Hamilton's Intimate Video Leaks Online" title="Nicole Scherzinger &amp; Lewis Hamilton's Intimate Video Leaks Online"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/entertainment/">
                                                        ENTERTAINMENT
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/nicole-scherzinger-and-lewis-hamiltons-intimate-video-leaks-online-news.72240.html" title="Nicole Scherzinger &amp; Lewis Hamilton's Intimate Video Leaks Online">Nicole Scherzinger &amp; Lewis Hamilton's Intimate Video Leaks Online</a></div><a class="stats-count-default latestNews-comment" href="/nicole-scherzinger-and-lewis-hamiltons-intimate-video-leaks-online-news.72240.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>0 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550503607" data-ago="" title="Mon Feb 18 2019 22:26:47 GMT+0700 (Indochina Time)">30 min</span></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item">
                                            <a href="/mystikal-speaks-out-after-being-released-on-s3m-bond-news.72215.html" class="latestNews-cover-anchor" title="Mystikal Speaks Out After Being Released On $3M Bond"><img class="latestNews-cover sidebar hover-style" src="https://ssle.ulximg.com/image/116x77/cover/1550442994_f1761896ad6bbd92166ffb0fbdab0611.jpg/10e0a6a62c3ccf038110ff5676169beb/1550442994_5faaae75fc5dad052098474b5e141239.jpg" width="116" height="77" alt="Mystikal Speaks Out After Being Released On $3M Bond" title="Mystikal Speaks Out After Being Released On $3M Bond"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/music/">
                                                        MUSIC
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/mystikal-speaks-out-after-being-released-on-s3m-bond-news.72215.html" title="Mystikal Speaks Out After Being Released On $3M Bond">Mystikal Speaks Out After Being Released On $3M Bond</a></div><a class="stats-count-default latestNews-comment" href="/mystikal-speaks-out-after-being-released-on-s3m-bond-news.72215.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>22 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550443333" data-ago="" title="Mon Feb 18 2019 05:42:13 GMT+0700 (Indochina Time)">17 h</span></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item">
                                            <a href="/r-kellys-alleged-victims-have-watched-new-sex-tape-report-news.72222.html" class="latestNews-cover-anchor" title="R. Kelly's Alleged Victims Have Watched New Sex Tape: Report"><img class="latestNews-cover sidebar hover-style" src="https://sslf.ulximg.com/image/116x77/cover/1550457125_cfe8a40b81f42a09baa3345a5e5ddf0c.jpg/e318e7ecf220474dc812e9cfda51b452/1550457125_6ff47c61e23d1f2fd0e99e62ef4da987.jpg" width="116" height="77" alt="R. Kelly's Alleged Victims Have Watched New Sex Tape: Report" title="R. Kelly's Alleged Victims Have Watched New Sex Tape: Report"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/music/">
                                                        MUSIC
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/r-kellys-alleged-victims-have-watched-new-sex-tape-report-news.72222.html" title="R. Kelly's Alleged Victims Have Watched New Sex Tape: Report">R. Kelly's Alleged Victims Have Watched New Sex Tape: Report</a></div><a class="stats-count-default latestNews-comment" href="/r-kellys-alleged-victims-have-watched-new-sex-tape-report-news.72222.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>35 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550457493" data-ago="" title="Mon Feb 18 2019 09:38:13 GMT+0700 (Indochina Time)">13 h</span></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item">
                                            <a href="/kodak-black-shoots-his-shot-at-nicki-minaj-and-young-ma-news.72194.html" class="latestNews-cover-anchor" title="Kodak Black Shoots His Shot At Nicki Minaj &amp; Young M.A."><img class="latestNews-cover sidebar hover-style" src="https://sslg.ulximg.com/image/116x77/cover/1550382026_c7e59536f05263bc7a804250414f9283.jpg/1c69c1ce90bcd629afc35b79a7b439d9/1550382026_6cde0e1282bbca17b73d4e75e3e32398.jpg" width="116" height="77" alt="Kodak Black Shoots His Shot At Nicki Minaj &amp; Young M.A." title="Kodak Black Shoots His Shot At Nicki Minaj &amp; Young M.A."></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/music/">
                                                        MUSIC
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/kodak-black-shoots-his-shot-at-nicki-minaj-and-young-ma-news.72194.html" title="Kodak Black Shoots His Shot At Nicki Minaj &amp; Young M.A.">Kodak Black Shoots His Shot At Nicki Minaj &amp; Young M.A.</a></div><a class="stats-count-default latestNews-comment" href="/kodak-black-shoots-his-shot-at-nicki-minaj-and-young-ma-news.72194.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>71 Comments</span>
                                                </a><div class="latestNews-date"></div>
                                            </div>
                                        </li>
                                        <li class="latestNews-item">
                                            <a href="/j-cole-performs-middle-child-a-lot-and-more-during-2019-nba-all-star-game-news.72223.html" class="latestNews-cover-anchor" title="J. Cole Performs &quot;Middle Child, &quot;A Lot&quot; &amp; More During 2019 NBA All-Star Game"><img class="latestNews-cover sidebar hover-style" src="https://sslh.ulximg.com/image/116x77/cover/1550460493_506738e7215d3d03f4e2fd6b3a4b16fa.jpg/fb072fc56447269219c34d727eb67a06/1550460493_d3d4dc8ba2efadae222e2fcde954a38e.jpg" width="116" height="77" alt="J. Cole Performs &quot;Middle Child, &quot;A Lot&quot; &amp; More During 2019 NBA All-Star Game" title="J. Cole Performs &quot;Middle Child, &quot;A Lot&quot; &amp; More During 2019 NBA All-Star Game"></a><div class="latestNews-body">
                                                <div class="latestNews-category-wrapper sidebar">
                                                    <a class="category-link latestNews-category-sidebar" href="/articles/music/">
                                                        MUSIC
                                                    </a>
                                                </div><div class="latestNews-title"><a class="cover-title latestNews-title-anchor sidebar" href="/j-cole-performs-middle-child-a-lot-and-more-during-2019-nba-all-star-game-news.72223.html" title="J. Cole Performs &quot;Middle Child, &quot;A Lot&quot; &amp; More During 2019 NBA All-Star Game">J. Cole Performs "Middle Child, "A Lot" &amp; More During 2019 NBA All-Star Game</a></div><a class="stats-count-default latestNews-comment" href="/j-cole-performs-middle-child-a-lot-and-more-during-2019-nba-all-star-game-news.72223.html#title-comment-desktop">
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    <span>41 Comments</span>
                                                </a><div class="latestNews-date">
                                                    <i class="fa fa-clock-o"></i>&nbsp;
                                                    <span><span class="js-live-date field-processed--js-live-date" data-format="MMM D, YYYY" data-date="1550460758" data-ago="" title="Mon Feb 18 2019 10:32:38 GMT+0700 (Indochina Time)">12 h</span></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><a href="/articles/news/" class="btn hnhh-desktop-btn big-btn hnhh-desktop-btn-margbottom">
                                        More News <i class="fa fa-chevron-right m-l-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><div class="pull-left w100per"><div class="js-live-widget2 css-widget css-live-widget_googleAdBlock desktop-css-live-widget_googleAdBlock field-processed--js-live-widget2" data-layout="default" data-loadonclick="0" data-bp="desktop" data-lazy="0" data-jsonly="0" data-token="10300a89c372918885e852c44fecffc5" data-ajax="0" data-cache="deb9ab3d2e0a0c7815205052225ccfdc" data-key="googleAdBlock" data-url="/widget2/googleAdBlock?params=%7B%22key%22%3A%22googleAdBlock%22%2C%22bp%22%3A%22desktop%22%2C%22title%22%3A%22HNHH_Desktop_Sidebar2%22%2C%22size%22%3A%5B%5B300%2C250%5D%5D%2C%22hb%22%3A1%7D&amp;bp=desktop&amp;desktop=1"><div class="js-widget-wrapper css-widget-wrapper widget2--googleAdBlock"><!-- HNHH_Desktop_Sidebar2 --><div class="banner HNHH_Desktop_Sidebar2  border-wrapper-inner  js-interscroller"><div class="google-ads js-google-ad2 " id="HNHH_Desktop_Sidebar2" data-property="HNHH_Desktop_Sidebar2" data-size="[[300,250]]" data-hb="1" data-client="" data-refresh="" style="font-size:0;line-height:0;min-height:250px;margin:0 auto;text-align: center;" data-google-query-id="CLnvpcLSxeACFUxqvQod8GoE1w"><div id="google_ads_iframe_/3858450/HNHH_Desktop_Sidebar2_0__container__" style="border: 0pt none; width: 300px; height: 250px;"></div></div></div></div></div></div><div class="pull-left w100per">
                        <div class="js-live-widget2 css-widget css-live-widget_featuredMixtapesWidget desktop-css-live-widget_featuredMixtapesWidget field-processed--js-live-widget2" data-layout="default" data-loadonclick="0" data-bp="desktop" data-lazy="0" data-jsonly="0" data-token="6b03404e4627d7352cf898fded6137b9" data-ajax="1" data-cache="3c2da92effdcb6908bae7f2240b52fa2" data-key="featuredMixtapesWidget" data-url="/widget2/featuredMixtapesWidget?params=%7B%22key%22%3A%22featuredMixtapesWidget%22%2C%22bp%22%3A%22desktop%22%2C%22isSidebar%22%3Atrue%2C%22ajax%22%3Atrue%2C%22displayTunecore%22%3Afalse%2C%22items%22%3A6%7D&amp;bp=desktop&amp;desktop=1">
                            <div class="js-widget-wrapper css-widget-wrapper widget2--featuredMixtapesWidget">
                                <div class="pull-left w100per">
                                    <strong class="nd-main-headers featuredMixtapes-header w100per">
                                        <a href="/mixtapes/">
                                            Mixtapes &amp; Albums
                                        </a><a class="upcoming-link" href="/2018-hip-hop-album-releases-the-ultimate-guide-news.42074.html">UPCOMING</a>
                                    </strong><ul class="p-l-0 pull-left featuredMixtapes-sidebar-list">
                                        <li class="mixtapeSidebar-item">
                                            <a class="mixtapeSidebar-imageAnchor" href="/drake-tapped-lil-wayne-kanye-west-and-more-on-so-far-gone-new-mixtape.118879.html"><img class="mixtapeSidebar-image hover-style" src="https://ssl.ulximg.com/image/143x143/cover/1550246423_2cf634e57d1137d7017c0edf58f41d6b.jpg/6576da5bb0699a380601e78b40ce9cb0/1550246423_c3c6f4baa389df18f1f5afc5edf89b74.jpg" width="143" height="143" srcset="https://ssla.ulximg.com/image/193x193/cover/1550246423_2cf634e57d1137d7017c0edf58f41d6b.jpg/45ba4f8ca6b36cdfb2e6f41392582a1c/1550246423_c3c6f4baa389df18f1f5afc5edf89b74.jpg 2x" alt="So Far Gone"></a><a class="mixtapeSidebar-titleAnchor" href="/drake-tapped-lil-wayne-kanye-west-and-more-on-so-far-gone-new-mixtape.118879.html" title="So Far Gone">
                                                <span class="mixtapeSidebar-title">
                                                    So Far Gone
                                                </span>
                                            </a><div class="mixtapeSidebar-artist"><em class="">Drake</em></div>
                                        </li>
                                        <li class="mixtapeSidebar-item">
                                            <a class="mixtapeSidebar-imageAnchor" href="/stream-casanovas-free-at-last-project-new-mixtape.118876.html"><img class="mixtapeSidebar-image hover-style" src="https://sslb.ulximg.com/image/143x143/cover/1550198048_f2c4c84f530ec4e52eca6a9591822b8d.jpg/9fbd53ff3ef39d5e82c778984d1a6c46/1550198048_e8fc5778220c6c3ba04c4dc6b3fd04a1.jpg" width="143" height="143" srcset="https://sslc.ulximg.com/image/193x193/cover/1550198048_f2c4c84f530ec4e52eca6a9591822b8d.jpg/1f5e3dcbaf58e5e0e1b78fc34e991d33/1550198048_e8fc5778220c6c3ba04c4dc6b3fd04a1.jpg 2x" alt="Free At Last"></a><a class="mixtapeSidebar-titleAnchor" href="/stream-casanovas-free-at-last-project-new-mixtape.118876.html" title="Free At Last">
                                                <span class="mixtapeSidebar-title">
                                                    Free At Last
                                                </span>
                                            </a><div class="mixtapeSidebar-artist"><em class="">Casanova</em></div>
                                        </li>
                                        <li class="mixtapeSidebar-item">
                                            <a class="mixtapeSidebar-imageAnchor" href="/stream-august-alsinas-forever-and-a-day-ep-new-mixtape.118873.html"><img class="mixtapeSidebar-image hover-style" src="https://ssld.ulximg.com/image/143x143/cover/1550123148_c75612e4aa4de2f8f773b1e56c825468.jpg/2ddb5fb4216320c2d54d0a5f6f00d649/1550123148_f30f2c7c72cb519f8e9817cf1827df5c.jpg" width="143" height="143" srcset="https://ssle.ulximg.com/image/193x193/cover/1550123148_c75612e4aa4de2f8f773b1e56c825468.jpg/db1e859ffaf2b42bf04f2df6aa853479/1550123148_f30f2c7c72cb519f8e9817cf1827df5c.jpg 2x" alt="Forever And A Day"></a><a class="mixtapeSidebar-titleAnchor" href="/stream-august-alsinas-forever-and-a-day-ep-new-mixtape.118873.html" title="Forever And A Day">
                                                <span class="mixtapeSidebar-title">
                                                    Forever And A Day
                                                </span>
                                            </a><div class="mixtapeSidebar-artist"><em class="">August Alsina</em></div>
                                        </li>
                                        <li class="mixtapeSidebar-item">
                                            <a class="mixtapeSidebar-imageAnchor" href="/luckis-freewave-3-features-chasethemoney-and-earl-sweatshirt-new-mixtape.118881.html"><img class="mixtapeSidebar-image hover-style" src="https://sslf.ulximg.com/image/143x143/cover/1550254559_979859f7f4b3f9226b229b8562e14075.jpg/723ce1ddf604e0ad9ac4ac2d8dbfdd39/1550254559_f757bb812e842d12c24c7b37c9438077.jpg" width="143" height="143" srcset="https://sslg.ulximg.com/image/193x193/cover/1550254559_979859f7f4b3f9226b229b8562e14075.jpg/429fea83d65fa8da2946b7ec2c713a26/1550254559_f757bb812e842d12c24c7b37c9438077.jpg 2x" alt="Freewave 3"></a><a class="mixtapeSidebar-titleAnchor" href="/luckis-freewave-3-features-chasethemoney-and-earl-sweatshirt-new-mixtape.118881.html" title="Freewave 3">
                                                <span class="mixtapeSidebar-title">
                                                    Freewave 3
                                                </span>
                                            </a><div class="mixtapeSidebar-artist"><em class="">Lucki</em></div>
                                        </li>
                                        <li class="mixtapeSidebar-item">
                                            <a class="mixtapeSidebar-imageAnchor" href="/czarface-meets-ghostface-relieves-mf-doom-of-his-vigilante-duties-new-mixtape.118880.html"><img class="mixtapeSidebar-image hover-style" src="https://sslh.ulximg.com/image/143x143/cover/1550246671_0a0c40c39c416f8837f93d487de33d22.jpg/fbd0cc469df3092787ea883adc4c820a/1550246671_3674ab932fcea494399675d734a4125c.jpg" width="143" height="143" srcset="https://ssli.ulximg.com/image/193x193/cover/1550246671_0a0c40c39c416f8837f93d487de33d22.jpg/01a5adca6e32af32f3a38cfd62d955d3/1550246671_3674ab932fcea494399675d734a4125c.jpg 2x" alt="Czarface Meets Ghostface"></a><a class="mixtapeSidebar-titleAnchor" href="/czarface-meets-ghostface-relieves-mf-doom-of-his-vigilante-duties-new-mixtape.118880.html" title="Czarface Meets Ghostface">
                                                <span class="mixtapeSidebar-title">
                                                    Czarface Meets Ghostface
                                                </span>
                                            </a><div class="mixtapeSidebar-artist"><em class="">Czarface</em><em class=""> &amp; </em><em class="">Ghostface Killah</em></div>
                                        </li>
                                        <li class="mixtapeSidebar-item">
                                            <a class="mixtapeSidebar-imageAnchor" href="/wiz-khalifa-and-currensy-drop-off-joint-project-2009-new-mixtape.118856.html"><img class="mixtapeSidebar-image hover-style" src="https://sslj.ulximg.com/image/143x143/cover/1549602133_733d87dfcf6b3f7b2ede6aaedf93e8c7.jpg/10ddcb8c8cc249098822c538a1e39c0c/1549602133_a4e9d8558f3181593caec891fa8c5dbe.jpg" width="143" height="143" srcset="https://ssl.ulximg.com/image/193x193/cover/1549602133_733d87dfcf6b3f7b2ede6aaedf93e8c7.jpg/6af8b8c656ba797af450a545feabbca8/1549602133_a4e9d8558f3181593caec891fa8c5dbe.jpg 2x" alt="2009"></a><a class="mixtapeSidebar-titleAnchor" href="/wiz-khalifa-and-currensy-drop-off-joint-project-2009-new-mixtape.118856.html" title="2009">
                                                <span class="mixtapeSidebar-title">
                                                    2009
                                                </span>
                                            </a><div class="mixtapeSidebar-artist"><em class="">Wiz Khalifa &amp; Curren$y</em></div>
                                        </li>
                                    </ul><a href="/mixtapes/" class="btn hnhh-desktop-btn big-btn">
                                        More Mixtapes <i class="fa fa-chevron-right m-l-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>